

body{
  background-color: #7895b4;
}

.navbar-brand {
  /*height: 100px;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.portfolio-link img{
  margin-left: auto;
  margin-right: auto;
}
 .logo {
   display: inline-block;
 }

.myName {
  font-size: 2rem;
}
label,placeholder, .myName,.myJob{
  color: white;
}
.myJob {
  font-size: 1.5rem;
}
.myJobWidth {
  width:350px;
}

#contact{
  background-color: lightblue;
}
.backTransparent{
  background-color: transparent;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px white inset;
  width: 500px;
}
.flatIcon{
  height: 200px;
}

.aboutImg {
  background: url("../img/descktop.png") 50% 0% no-repeat fixed;
  height: 800px;
}

header .container {
  padding-top: 0px;
  padding-bottom: 0px;

}
header {
  background-image: url("../img/descktopBack.png");
}
.competence {
	display: block;
	text-align: center;
	margin:auto;
	width: 256px;
	height: 256px;
	position: relative;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
